VITE_ACCESS_CODE=your_access_code_here
VITE_API_URL=/api

NOTION_TOKEN=ntn_XXXXXXXXXXXXXXXXXXXX
NOTION_DATABASE_ID=your_database_id

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

PORT=3001
